
.anchor
.DS_Store
target
test-ledger
**/*.rs.bk
/keys/
.rustc_info.json
debug/
node_modules
docker-target
soteria-linux-develop/
.coderrect/
testing/
target/
.anchor/
**/*.log
.env
.DS_Store

**/id.json
keys/*.json
keys/*.json
**/id.json
